numpy==1.26.4  # gymnasium==0.29.1 is incompatible with numpy==2.0 (np.float_ removed)
scipy
scikit-learn
matplotlib
joblib
tqdm
pygame
opencv-python>=4.7
torch
pytest
gymnasium==0.29.1  # Using this version for consistency with other projects. Unsure whether newer versions are compatible.
